@tailwind base;
@tailwind components;
@tailwind utilities;

@layer body {
    @font-face {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./assets/Manrope/Manrope-VariableFont_wght.ttf) format('truetype');
    }
  }